{% extends "base.html" %} {% block content %}

<div class="box">
  {% if name %}
  <h1>Welcome {{name}}!</h1>
  <a href="{{ url_for('secrets') }}" class="btn btn-primary btn-block btn-large"
    >Go To Secrets Page</a
  >
  {% else %}
  <h1>Flask Authentication</h1>
  <!-- TODO: Hide the Login/Registration buttons for logged-in users -->
  <a href="{{ url_for('login') }}" class="btn btn-primary btn-block btn-large"
    >Login</a
  >
  <a
    href="{{ url_for('register') }}"
    class="btn btn-secondary btn-block btn-large"
    >Register</a
  >
  {% endif %}
</div>

{% endblock %}
